{% from 'macros/card_result.html' import card_result %}


<div class="flex flex-col items-center px-4 md:px-16">
    {% include 'partials/alert_rating.html' %}
    {% if prediction == 0 %}
    {{ card_result(
        title='Anda tidak terkena penyakit demam berdarah', 
        description='Tetap jaga kesehatan dan kebersihan diri serta lingkungan sekitar agar terhindar dari penyakit dengue',
        image_url=url_for('static', filename='dist/images/protected.png')
        ) 
    }}  
    {% else %}
    {{ card_result(
        title='Anda kemungkinan terkena penyakit demam berdarah', 
        description='Segera periksakan diri ke dokter atau rumah sakit untuk mendapatkan penanganan lebih lanjut',
        image_url=url_for('static', filename='dist/images/mosquito.png')
        ) 
    }}  
    {% endif %}
    {% include 'partials/header_rekomendasi.html' %}
</div>
