{% macro button_location(target) %}
<button
  class="flex items-center justify-center gap-x-2 px-4 py-2 text-sm font-medium text-white bg-red-700 border border-transparent rounded-md shadow-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
  onclick="getLocation()"
>
    <img 
    src="{{ url_for('static', filename='dist/icons/locate-fixed.svg') }}"
    alt="Mask Icon"
    onload="SVGInject(this)">
  <span class="text-nowrap">Deteksi otomatis</span>
</button>
<script>
    const getLocation = () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                const fetchAddress = fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}&zoom=18&addressdetails=1`);
                fetchAddress.then((response) => {
                    return response.json();
                }).then((data) => {
                    const address = data.display_name;
                    document.querySelector('input[name={{ target }}]').value = address;
                });
            }, (error) => {
                alert('Gagal mendapatkan lokasi');
                console.error('Error getting location:', error);
            });
        } else {
            console.error('Geolocation is not supported by this browser.');
        }
    }
</script>
{% endmacro %}
