{% macro image_text(image_url, predict, caption) %}
<div
  class="mt-0 mx-auto md:mt-8 flex flex-col justify-center items-center md:flex-row gap-4 w-full lg:w-1/2 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 px-4"
>
  <div class="flex justify-center items-center aspect-square p-12">
    <figure class="group flex w-fit h-fit max-w-sm hover:grayscale-0 justify-center items-center">
        <img class="relative rounded-lg transition-all duration-300 filter grayscale brightness-50 group-hover:brightness-100 group-hover:filter-none" src="{{ image_url }}" alt="Hasil klasifikasi">
        <figcaption class="absolute self-center flex flex-col items-center transition-all duration-300 text-lg text-white mx-auto z-10 group-hover:hidden">
            <span class="text-4xl font-bold">{{ predict }}</span>
            <p>{{ caption }}</p>
        </figcaption>
    </figure>
  </div>
  <div class="flex flex-col p-5 gap-y-2">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
        {% if caption | lower == 'aedes_aegypti' or caption | lower == 'aedes_albopictus' %}
            Terdeteksi Nyamuk penyebar DBD
        {% else %}
            Tidak Terdeteksi Nyamuk penyebar DBD
        {% endif %}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {% if caption | lower == 'aedes_aegypti' or caption | lower == 'aedes_albopictus' %}
            Segera lakukan pencegahan penyebaran nyamuk ini di sekitar rumah Anda
        {% else %}
            Lingkungan sekitar rumah Anda aman dari nyamuk penyebar DBD
        {% endif %}
    </p>
    <div class="flex flex-col gap-4 md:flex-row">
      <a
        href="/"
        class="flex justify-center md:justify-normal gap-x-2 rounded px-4 py-2 text-sm font-medium text-red-700 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
      >
        <img
          src="{{ url_for('static', filename='dist/icons/house.svg') }}"
          alt="Home Icon"
          onload="SVGInject(this)"
        />
        Kembali ke beranda
      </a>
      <a
        href="/scan"
        class="flex justify-center md:justify-normal gap-x-2 rounded bg-red-700 px-4 py-2 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
      >
        <img
          src="{{ url_for('static', filename='dist/icons/rotate-ccw.svg') }}"
          alt="Restart Icon"
          onload="SVGInject(this)"
        />
        Coba Lagi
      </a>
    </div>
  </div>
</div>
{% endmacro %}