{% macro stepper(active) %} 
{% set active_step = 'size-6 rounded-full bg-red-600 text-center text-[10px]/6 font-bold text-white' %} 
{% set regular_step = 'size-6 rounded-full bg-gray-100 text-center text-[10px]/6 font-bold' %}
<div class="flex w-full px-4 py-4 justify-center">
  <div
    class="relative w-full lg:w-1/2 after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100"
  >
    <ol
      class="relative z-10 flex justify-between text-sm font-medium text-gray-500"
    >
      <li class="flex items-center gap-2 bg-white p-2">
        <span
          class="{{ active_step if active == 0 else regular_step }}"
        >
          1
        </span>

        <span class="hidden sm:block"> Konfirmasi </span>
      </li>

      <li class="flex items-center gap-2 bg-white p-2">
        <span
          class="{{ active_step if active == 1 else regular_step }}"
        >
          2
        </span>

        <span class="hidden sm:block"> Survey </span>
      </li>

      <li class="flex items-center gap-2 bg-white p-2">
        <span
          class="{{ active_step if active == 2 else regular_step }}"
        >
          3
        </span>

        <span class="hidden sm:block"> Hasil </span>
      </li>
    </ol>
  </div>
</div>
{% endmacro %}
