@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/general-sans');

*{
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    font-family: 'General Sans', sans-serif;
}

.lucide-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
